extends layout

block content
  .pageNotFound
    h1
      span(class="errorSpan")= "Where did you end up here?"
      span= " Let me help you to find the right way back to all books ..."
    a(href="/" class="button") Back to all books!

    if (error.status !== 404)
        h1= message
        h2= error.status
        pre #{error.stack}
